<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyATTpfOWuQOS9ER8SITmR8iMoSrXutKtU8</string>
	<key>GCM_SENDER_ID</key>
	<string>733360957399</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.godareservicesapp</string>
	<key>PROJECT_ID</key>
	<string>godareservices-e68fb</string>
	<key>STORAGE_BUCKET</key>
	<string>godareservices-e68fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733360957399:ios:d18e63960ab2eb6cd0cd92</string>
</dict>
</plist>